<footer id="footer">
    <div class="row">
        <div class="col-md-3">
            <a href="#"> História </a> <br>
            <a href="#"> Missão </a> <br>
            <a href="#"> Visão </a> <br>
            <a href="#"> Valores </a>
        </div>
        <div class="col-md-3">
            <a href="#"> Equipe </a> <br>
            <a href="#"> Intercambistas </a> <br>
            <a href="#"> Parceiros </a> <br>
        </div>
        <div class="col-md-3">
            <a href="#"> Projetos </a> <br>
            <a href="#"> Doações </a> <br>
            <a href="#"> Receita de Doações </a>
        </div>
        <div class="col-md-3">
            <img src="http://static.wixstatic.com/media/241667_686f955dfade40ddb6182db754709ffa.png/v1/fill/w_231,h_186,al_c,usm_0.66_1.00_0.01/241667_686f955dfade40ddb6182db754709ffa.png" />
        </div>
    </div>
</footer>