{% load staticfiles %}
<footer id="footer">
    <div class="row">
        <div class="col-md-3">
            <a href="#"> História </a> <br>
            <a href="#"> Missão </a> <br>
            <a href="#"> Visão </a> <br>
            <a href="#"> Valores </a>
        </div>
        <div class="col-md-3">
            <a href="#"> Equipe </a> <br>
            <a href="#"> Intercambistas </a> <br>
            <a href="#"> Parceiros </a> <br>
        </div>
        <div class="col-md-3">
            <a href="#"> Projetos </a> <br>
            <a href="#"> Doações </a> <br>
            <a href="#"> Receita de Doações </a>
        </div>
        <div id="footer_logo" class="col-md-3">
            <img src="{% static "images/logo_footer.png" %}"/>
        </div>
    </div>
</footer>