{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="col-md-6 no-padding">
    <article class="card">
    	<div class="row no-padding">
            <a href="{% url "projeto" id=projeto.id %}" title="" class="col-md-5 no-padding">
                {% if projeto.possuiPhoto %}
                    <img class="card-img-top" src="data:image/png;base64,{{ projeto.photo64 }}"/>
                {% else %}
                    <img class="card-img-top" src="{% static "images/formiga.jpg" %}">
                {% endif %}
            </a>
            <div class="caption text-center col-md-7 no-padding">
                <a href="{% url "projeto" id=projeto.id %}">
                    <h5 class="card-title">{% if LANGUAGE_CODE == "en" and projeto.name %}{{ projeto.name }}{% else %}{{ projeto.nome }}{% endif %}</h5>
                </a>
                {% if LANGUAGE_CODE == "en" and projeto.description %}
                    {% if projeto.description|length >= 100 %}
                        <p class="flex-text text-muted card-text">{{ projeto.description|slice:":100" }}...</p>
                    {% else %}
                        <p class="flex-text text-muted card-text">{{ projeto.description }}</p>
                    {% endif %}
                {% else %}
                    {% if projeto.descricao|length >= 100 %}
                        <p class="flex-text text-muted card-text">{{ projeto.descricao|slice:":100" }}...</p>
                    {% else %}
                        <p class="flex-text text-muted card-text">{{ projeto.descricao }}</p>
                    {% endif %}
                {% endif %}
                <a href="{% url "projeto" id=projeto.id %}" class="btn">{% trans "CONHECER" %}</a>
                {% for campanha in campanha_doacao %}
                    {% if campanha.projeto.nome == projeto.nome %}
                        <a href="{{ campanha.link }}" target="_blank" class="btn btn-donation">{% trans "DOAR" %}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </article>
</div>