{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Associação Formiga Verde, ONG Formiga Verde, é uma entidade do Terceiro Setor que atua na cidade de São Carlos na área da Educação Não Formal e Proteção Social. Utilizamos diversos instrumentos e estratégias para defender os direitos de crianças e adolescente e lutamos por uma sociedade mais justa e igualitária.">
    <meta name="keywords" content="ONG,Formiga Verde,Associação,Terceiro Setor,Educação Não Formal,Proteção Social">

    <title>Associação Formiga Verde - {% block title %}<!-- PAGE TITLE -->{% endblock title %}</title>

    <!-- FRAMEWORKS, LIBS OR PLUGINS USED -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" rel="stylesheet">

    <!--STYLESHEETS IMPORT -->
    <link href="{% static 'stylesheets/base.css' %}" rel="stylesheet">
</head>

<body>
    {% block header %}{% include 'ong/_header.html' %}{% endblock header %}
    {% block body %}<!-- EVERY BODY CONTENT :) -->{% endblock body %}
    {% block footer %}{% include 'ong/_footer.html' %}{% endblock footer %}

    <!-- FRAMEWORKS, LIBS OR PLUGINS USED -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/cc8118e989.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script>new WOW().init();</script>

    {% block scripts %}<!-- ADDITIONAL SCRIPTS -->{% endblock scripts %}
</body>
</html>
