{% extends 'ong/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Notícias" %}{% endblock title %}

{% block body %}
    <main id="p-noticias" class="page-top container">
        <h3>{% trans "TODAS AS NOTÍCIAS" %}</h3>
        <div class="col-lg-9">
            {% for noticia in noticias %}
                <div class="noticia">
                    <div class="row">
                        <div class="col-md-{% if noticia.possuiPhoto %}4{% else %}0{% endif %}">
                            {% if noticia.possuiPhoto %}
                                <img src="data:image/png;base64,{{ noticia.photo64 }}"/>
                                <br> <br>
                            {% endif %}
                        </div>
                        <div class="col-md-{% if noticia.possuiPhoto %}8{% else %}12{% endif %}">
                            <h6> {{ noticia.data }} </h6>
                            <h4> <a href="{% url "noticia" id=noticia.id %}"> {{ noticia.titulo }} </a> </h4>
                            <p>
                                {{ noticia.texto|slice:":150" }}
                                {% if noticia.texto|length >= 150 %}
                                    ... <a href="{% url "noticia" id=noticia.id %}"><span id="continue">{% trans "Continue lendo" %}</span></a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock body %}