{% extends 'ong/base.html' %}
{% load staticfiles %}

{% block title %}Notícias{% endblock title %}

{% block body %}
    <main id="p-noticias" class="page-top container">
        <div class="col-md-6">
            {% for noticia in noticias %}
                <h4> <a href="#"> {{ noticia.titulo }} </a> </h4>
                <p> {{ noticia.data }}</p>
                {% if noticia.possuiPhoto %}
                    <img src="data:image/png;base64,{{ noticia.photo64 }}"/>
                    <br> <br>
                {% endif %}
                <p> {{ noticia.texto|linebreaksbr }}</p>
            {% endfor %}
        </div>
    </main>
{% endblock body %}