{% extends 'ong/base.html' %}
{% load staticfiles %}

{% block title %}Parceiros{% endblock title %}

{% block body %}
    <main id="p-parceiros" class="container page-top">
    <h3>NOSSOS PARCEIROS</h3>
    {% if comunidades %}
        <hr>
        <h4> Comunidades </h4>
        <section id="parceiros" class="py-2">
            <div class="row no-padding">
                {% for parceiro in comunidades %}
                    {% include 'ong/_parceiros-card-parceiros.html' %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {%  if universidades %}
        <hr>
        <h4> Grupos Universitários </h4>
        <section id="parceiros" class="py-2">
            <div class="row no-padding">
                {% for parceiro in universidades %}
                    {% include 'ong/_parceiros-card-parceiros.html' %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {%  if empresas %}
        <hr>
        <h4> Empresas </h4>
        <section id="parceiros" class="py-2">
            <div class="row no-padding">
                {% for parceiro in empresas %}
                    {% include 'ong/_parceiros-card-parceiros.html' %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    </main>
{% endblock body %}