{% extends 'ong/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Projetos" %}{% endblock title %}

{% block body %}
    <main id="p-projetos" class="container page-top">
		<h3>{% trans "NOSSOS PROJETOS" %}</h3>
		{% if criancas %}
            <hr>
			<h4>{% trans "Para crianças" %}</h4>
			<section id="projetos" class="py-2">
				<div class="row no-padding">
                    {% for projeto in criancas %}
                        {% include 'ong/_projetos-card-projeto.html' %}
                    {% endfor %}
                </div>
			</section>
		{% endif %}
		{% if adultos %}
			<hr>
            <h4>{% trans "Para adultos" %}</h4>
			<section id="projetos" class="py-2">
				<div class="row no-padding">
                    {% for projeto in adultos %}
                        {% include 'ong/_projetos-card-projeto.html' %}
                    {% endfor %}
                </div>
			</section>
		{% endif %}
		{% if todos %}
			<hr>
            <h4>{% trans "Todas as idades" %}</h4>
			<section id="projetos" class="py-2">
				<div class="row no-padding">
                    {% for projeto in todos %}
                        {% include 'ong/_projetos-card-projeto.html' %}
                    {% endfor %}
				</div>
			</section>
		{% endif %}
    </main>
{% endblock body %}