{% extends 'ong/base.html' %}
{% load staticfiles %}

{% block title %} {{ projeto.nome }} {% endblock title %}

{% block body %}
    <main id="p-projeto" class="page-top">
        <div>
            {% if projeto.possuiPhoto %}
                <img class="img-top" src="data:image/png;base64,{{ projeto.photo64 }}">
            {% else %}
                <img class="img-top" src="{% static "images/formiga.jpg" %}"
            {% endif %}
        </div>
        <div class="project-description">
            <h3 class="caption text-center"> {{ projeto.nome }} </h3>
            <div>
                {{ projeto.descricao }}
            </div>
        </div>

        {% if depoimentos %}
            <hr>

            <h3 class="caption text-center">DEPOIMENTOS</h3>
            <div class="owl-carousel owl-theme">
                {% for depo in depoimentos %}
                    {% if depo.projeto.nome == projeto.nome %}
                        <article class="card">
                            {% if depo.possuiPhoto %}
                                <img class="card-img-top" src="data:image/png;base64,{{ depo.photo64 }}"/>
                            {% else %}
                                <img class="card-img-top" src="{% static "images/formiga.jpg" %}">
                            {% endif %}
                            <div class="caption text-center">
                                <h4 class="card-title">{{ depo.nome }}, {{ depo.idade }} anos</h4>
                                <p class="flex-text text-muted card-text">"{{ depo.depoimento }}"</p>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <hr>
        <div class="d-flex justify-content-between">
            {% if anterior.id %}
                <a href="{% url "projeto" id=anterior.id %}" class="btn btn-left">ANTERIOR</a>
            {% else %}
                <button type="button" class="btn btn-left disabled"> ANTERIOR </button>
            {% endif %}
            <a href="{% url "projetos" %}" class="btn btn-middle">VOLTAR</a>
            {% if proximo.id %}
                <a href="{% url "projeto" id=proximo.id %}" class="btn btn-right">PRÓXIMO</a>
            {% else %}
                <button type="button" class="btn btn-right disabled"> PRÓXIMO </button>
            {% endif %}
        </div>

    </main>
{% endblock body %}


