{% extends 'ong/base.html' %}
{% load staticfiles %}

{% block title %} {{ projeto.nome }} {% endblock title %}

{% block body %}
    <main id="p-projeto" class="page-top">
        <div>
            <img class="img-top" src="data:image/png;base64,{{ projeto.photo64 }}">
        </div>
        <div class="project-description">
            <h3 class="caption text-center"> {{ projeto.nome }} </h3>
            <div>
                {{ projeto.descricao }}
            </div>
        </div>

        {% if depoimentos %}
            <hr>

            <h3 class="caption text-center">DEPOIMENTOS</h3>
            <div class="owl-carousel owl-theme">
            {% for depo in depoimentos %}
                {% if depo.projeto.nome == projeto.nome %}
                    <article class="card">
                        {% if depo.possuiPhoto %}
                            <img class="card-img-top" src="data:image/png;base64,{{ depo.photo64 }}"/>
                        {% else %}
                            <img class="card-img-top" src="{% static "images/formiga.jpg" %}">
                        {% endif %}
                        <div class="caption text-center">
                            <h4 class="card-title">{{ depo.nome }}, {{ depo.idade }} anos</h4>
                            <p class="flex-text text-muted card-text">"{{ depo.depoimento }}"</p>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <div>
            <hr>
            <a class="btn-secondary">ANTERIOR</a>
            <a class="btn-primary">VOLTAR</a>
            <a class="btn-secondary">PROXIMO</a>
        </div>

    </main>
{% endblock body %}


