{% extends 'ong/base.html' %}
{% load staticfiles %}

{% block title %} {{ projeto.nome }} {% endblock title %}

{% block body %}
    <main id="p-projeto" class="page-top">
        <div>
            <img class="img-top" src="data:image/png;base64,{{ projeto.photo64 }}">
        </div>
        <div class="project-description">
            <h3 class="caption text-center"> {{ projeto.nome }} </h3>
            <div>
                {{ projeto.descricao }}
            </div>
        </div>

        <hr>

        <h3 class="caption text-center">DEPOIMENTOS</h3>
        <section>
            {% for depo in depoimentos %}
                {% if depo.projeto.nome == projeto.nome %}
                    <div class="card" style="width: 20rem;">
                        {% if depo.possuiPhoto %}
                            <img class="card-img-top" src="data:image/png;base64,{{ depo.photo64 }}">
                        {% else %}
                            <img class="card-img-top" src="{% static "images/formiga.jpg" %}">
                        {% endif %}
                        <div class="caption text-center">
                            <h4 class="card-title">{{ depo.nome }}, {{ depo.idade }} anos</h4>
                            <p class="flex-text text-muted card-text">{{ depo.depoimento }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock body %}

{% block scripts %}
    <script src="{% static "javascripts/projeto.js" %}"
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
{% endblock scripts %}
