@import url('./home/doacoes.css');
@import url('./home/em_numeros.css');
@import url('./home/proverbio.css');
@import url('./home/noticias.css');
@import url('./home/projetos.css');
@import url('./home/fale_conosco.css');
@import url('./home/carrousel.css');
@import url('./_header.css');
@import url('./_footer.css');
@import url('./projetos.css');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,600');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    overflow-x: hidden !important;
}

#home > .row {
    width: 100vw;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.page-top {
    margin-top: 100px;
}