#p-parceiros {
    padding-top: 45px;
    padding-bottom: 30px;
}

#p-parceiros .container {
    padding-top: 45px;
    margin: auto;
    padding-left: 15px;
}

#p-parceiros #parceiros {
    padding: unset;
    width: unset;
    height: unset;
}

#p-parceiros .card {
    margin: 10px 5px;
    background-color: #d9ead3;
}

#p-parceiros .card:hover {
    -webkit-box-shadow: 0 0 10px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 10px -4px rgba(0,0,0,1);
    box-shadow: 0 0 10px -4px rgba(0,0,0,1);
}

@media (min-width: 48em) {
    #p-parceiros #parceiros .card {
        height: 100px;
    }
}

#p-parceiros #parceiros .card > .row {
    height: 100%;
}

#p-parceiros #parceiros .card-img-top {
    padding: 15px 0 0;
    height: 98px;
    width: 60%;
}

@media (min-width: 48em) {
    #p-parceiros #parceiros .card-img-top {
        padding: 0 0 0 15px;
    }
}

#p-parceiros #parceiros .caption {
    padding: 10px 10px 75px !important;
}

#p-parceiros #parceiros .card-text {
    max-height: 100px;
    overflow: hidden;
}

#p-parceiros h4 {
    margin-bottom: -5px;
    margin-left: 3px;
}

#p-parceiros .btn {
    width: 125px;
    font-size: 0.9em;
    padding: 7px;
    background-color: #82a82a;
    border-color: #2a9134;
    margin-top: 7px;
    color: #fff;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 62.5px);
}

#p-parceiros .btn:hover {
    background-color: #6b8a23;
    border-color: #587129;
    color: #ffffff;
}

#p-parceiros .card-title {
    padding-top: 5px;
    color: #4f4f4f;
}
