#p-projeto {
    background-color: #ffffff;
}

#p-projeto .card {
    background-color: #d9ead3;
    width: 100%;
    margin-top: 20px;
}

#p-projeto .owl-dots {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    margin-top: -7px;
}

#p-projeto .card:hover {
    -webkit-box-shadow: 0 0 10px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 10px -4px rgba(0,0,0,1);
    box-shadow: 0 0 10px -4px rgba(0,0,0,1);
}

#p-projeto .img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 20%;
}

#p-projeto .project-description {
    padding: 15px;
    text-align: justify;
    hyphens: auto;
}

#p-projeto .project-description div {
    color: #4f4f4f;
    text-indent: 2.5em;
}

#p-projeto .caption {
    color: #185682;
    padding: 10px 10px 5px;
    hyphens: auto;
}

#p-projeto .card-text {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    color: #000;
}

#p-projeto #owl-depoimentos .caption {
    padding: 15px;
}

#p-projeto .card-img-top {
    width: 100%;
    padding: 15px 0 0;
    object-fit: cover;
    object-position: 50% 20%;
    height: 175px;
}

#p-projeto a, #p-projeto a:visited {
    color: #30a1d2;
}

#p-projeto a:hover,
#p-projeto a:active {
    color: #e06666ff;
}

#p-projeto #photos {
    padding-top: 30px;
}

#p-projeto .row {
    margin-bottom: 50px;
}