#p-projeto {
    background-color: #4f4f4f;
}

#p-projeto .img-top {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 20%;
}

#p-projeto .project-description {
    padding: 15px;
    background-color: #d9ead3;
}

#p-projeto .project-description div {
    color: #4f4f4f;
}

#p-projeto .caption {
    color: #185682;
}

