#p-projetos {
    padding-top: 45px;
    padding-bottom: 30px;
}

#p-projetos #projetos {
    padding: unset;
    width: unset;
    height: unset;
}

#p-projetos .card {
    margin: 10px;
}

@media (min-width: 48em) {
    #p-projetos #projetos .card {
        height: 235px;
    }
}

#p-projetos #projetos .card > .row {
    height: 100%;
}

#p-projetos #projetos .card-img-top {
    padding: 15px 0 0;
}

@media (min-width: 48em) {
    #p-projetos #projetos .card-img-top {
        height: 100%;
    }
}

@media (min-width: 48em) {
    #p-projetos #projetos .card-img-top {
        padding: 0 0 0 15px;
    }
}

#p-projetos #projetos .caption {
    padding: 10px 10px 75px !important;
}

#p-projetos #projetos .card-text {
    max-height: 100px;
    overflow: hidden;
}

#p-projetos h4 {
    margin-bottom: -5px;
    margin-left: 3px;
}