#fale-conosco {
    padding: 20px 30px;
}
@media (min-width: 48em) {
	#fale-conosco .fc-left {
		border-right: 1px dashed #777;
		padding-right: 25px;
	}
	#fale-conosco .fc-right {
		padding-left: 25px;
	}
}
@media (max-width: 48em) {
	#fale-conosco .fc-left {
		border-bottom: 1px dashed black;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
}
#fale-conosco .fc-left > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#fale-conosco .fc-left iframe {
	width: 100%;
	height: 300px;
	margin-bottom: 15px;
}
#fale-conosco .fc-left .fa-envelope:before {
	display: block;
	margin-top: -1px;
}
#fale-conosco .fc-phone, #fale-conosco .fc-email {
	display: block;
	width: 15em;
}
#fale-conosco .fc-right legend {
	font-size: 1em;
}
#fale-conosco .fc-right input {
	width: 80%;
	margin-bottom: 0.5em
}
#fale-conosco .fc-right textarea {
	height: 163px;
}
#fale-conosco .fc-right button {
	margin-top: 0.5em;
	float: right;
}