#noticias {
    background-color: #d9ead3ff;
    height: 100%;
    max-height: 907px;
    padding: 30px;
    overflow-y: hidden;
    position: relative;
}

#noticias a, #noticias a:visited {
    color: #000;
}

#noticias a:hover, #noticias a:active {
    color: #e06666ff;
}

#noticias #more-news {
    width: 100%;
    height: 130px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(217, 234, 211, 0) 0%, rgba(217, 234, 211, 1) 23%, rgba(217, 234, 211, 1) 99%, rgba(217, 234, 211, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(217, 234, 211, 0) 0%, rgba(217, 234, 211, 1) 23%, rgba(217, 234, 211, 1) 99%, rgba(217, 234, 211, 1) 100%);
    background: linear-gradient(to bottom, rgba(217, 234, 211, 0) 0%, rgba(217, 234, 211, 1) 23%, rgba(217, 234, 211, 1) 99%, rgba(217, 234, 211, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d9ead3', endColorstr='#d9ead3', GradientType=0);
}

#noticias #more-news p {
    width: calc(100% - 60px);
    padding-top: 10px;
    border-top: 2px solid #000;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

#noticias .noticia img {
    width: 100%;
    min-height: 220px;
    object-fit: cover;
    object-position: 50% 10%;
}

#noticias .noticia h5 {
    text-transform: capitalize;
    font-weight: 600;
}

#noticias .noticia h6 {
    font-size: 0.75em;
}

#noticias .noticia {
    border-bottom: 1px dotted #4f4f4f;
    hyphens: auto;
}

#noticias #section-title {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
    text-align: center;
}

#noticias .noticia .row div {
    margin-top: 10px;
}

#noticias .noticia .row {
    margin-top: 20px;
}

@media (max-width: 47em) {
    #noticias .noticia .row {
        padding-top: 5px;
    }

    #noticias .noticia {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 62em) {
    #noticias {
        max-height: 911px;
    }

}