#projetos .card{
	float: left;
}

#projetos .card-img-top {
	width: 238px;
	padding: 15px 0 0 0;
}

#projetos .text-center {
	width: 240px;
	background-color: #d9ead3;
}

#projetos .card-title {
	font-size: 18px;
	font-family: "Roboto Black";
}

#projetos .card-text {
	font-size: 14px;
}

#projetos .btn {
	display: flex;
	justify-content: center;
	padding: 7px;
	width: 115px;
	height: 35px;
}

#projetos .btn-primary {
	background-color: #82a82a;
	border-color: #82a82a;
}

#projetos .btn-secondary {
	background-color: #f1c232;
}

#projetos .btn-block {
	align-self: center;
}

