#projetos {
    padding: 20px 25px 50px 40px;
}

#projetos .card {
    background-color: #d9ead3;
}

#projetos .card-img-top {
	width: 100%;
	padding: 15px 0 0;
    object-fit: cover;
    height: 175px;
}

#projetos .card-text {
	font-size: 0.9em;
}

#projetos .btn {
    width: 125px;
    font-size: 0.9em;
    padding: 7px;
	background-color: #82a82a;
	border-color: #82a82a;
    margin-top: 7px;
    color: #fff;
}

#projetos .btn-donation {
	background-color: #f1c232;
}

#projetos .caption {
    padding: 15px;
}
