<section id="doacoes">
    <div class="row text-center">
        <h1> SUA AJUDA É BEM-VINDA </h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Talento</h4>
                    <p class="card-text">
                        Você pode doar seu tempo, seja ensinando o que você sabe, mobilizando pessoas, facilitando
                        contatos ou mesmo ajudando na mão de obra, seja um VOLUNTÁRIO e/ou Educador Social
                    </p>
                    <a href="#" class="btn btn-danger">Fale Conosco</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
             <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Materiais</h4>
                    <p class="card-text">
                        A ONG Formiga Verde desenvolve atividades culturais e esportivas e você pode doar materiais
                        para executar melhor os propósitos de nossa organização.
                    </p>
                    <a href="#" class="btn btn-danger">Fale Conosco</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
           <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Doação Financeira</h4>
                    <p class="card-text">
                        Dependemos de doações financeiras para a execução de nossos projetos. Com esta doaçao, você não
                        apenas vira parceiro da ONG Formiga Verde como também nos ajuda a abrir um leque de
                        possibilidades para que indivíduos desenvolvam seus talendos e possam ter acesso às nossas
                        propostas na áreas da educação formal e proteção social.
                    </p>
                    <a href="#" class="btn btn-warning">Doar com PayPal</a>
                    <a href="#" class="btn btn-dark">Entenda como usamos suas doações</a>
                </div>
            </div>
        </div>
    </div>
</section>
