{% load i18n %}

<section id="em-numeros">
    <div class="row text-center">
        <div class="col-md-4">
            <h1> {{ projetos_andamento }} </h1>
            <h5> {% trans "PROJETOS" %} </h5>
            <h6> {% trans "em andamento" %} </h6>
        </div>
        <div class="col-md-4">
            <h1> {{ parceiros }} </h1>
            <h5> {% trans "PARCEIROS" %} </h5>
            <h6> {% trans "que nos ajudam" %} </h6>
        </div>
        <div class="col-md-4">
            <h1> {{ intercambistas }} </h1>
            <h5> {% trans "INTERCAMBISTAS" %} </h5>
            <h6> {% trans "já passaram por aqui" %} </h6>
        </div>
    </div>
</section>