<section id="em-numeros">
    <div class="row text-center">
        <div class="col-md-4">
            <h2> {{ projetos_andamento }} </h2>
            <h5> PROJETOS </h5>
            <h6> em andamento </h6>
        </div>
        <div class="col-md-4">
            <h2> {{ parceiros }} </h2>
            <h5> PARCEIROS </h5>
            <h6> que nos ajudam </h6>
        </div>
        <div class="col-md-4">
            <h2> {{ intercambistas }} </h2>
            <h5> INTERCAMBISTAS </h5>
            <h6> já passaram por aqui </h6>
        </div>
    </div>

</section>