<section id="projetos">
    <section class="latest-blog-posts bg-white pt60 pb60">
	<div class="container-fluid">
		<div id="owl-demo-2" class="owl-carousel owl-theme">
            <article>
                <div class="card text-center">
                    <img class="card-img-top" src="https://static.wixstatic.com/media/241667_f8b7908bde824ce78912dfbac2946578~mv2_d_2048_1366_s_2.jpg/v1/fill/w_400,h_248,al_c,q_80,usm_0.66_1.00_0.01/241667_f8b7908bde824ce78912dfbac2946578~mv2_d_2048_1366_s_2.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Taekwondo</h4>
                        <p class="card-text">As artes marciais possuem elementos muito importantes para serem utilizados como instrumento na formação dos alunos...</p>
                        <a href="#" class="btn btn-primary btn-sm btn-block">CONHECER</a>
                        <a href="#" class="btn btn-secondary btn-sm btn-block">DOAR</a>
                    </div>
                </div>
            </article>

            <article>
                <div class="card text-center">
                    <img class="card-img-top" src="https://static.wixstatic.com/media/241667_4ba0859567514a57872e374cac25463e~mv2_d_2048_1264_s_2.jpg/v1/fill/w_400,h_248,al_c,q_80,usm_0.66_1.00_0.01/241667_4ba0859567514a57872e374cac25463e~mv2_d_2048_1264_s_2.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Atletismo</h4>
                        <p class="card-text">A modalidade atletismo é utilizada como “instrumento” na educação desde 2007 em nossa entidade, São Carlos-SP possui tradição...</p>
                        <a href="#" class="btn btn-primary btn-sm btn-block">CONHECER</a>
                        <a href="#" class="btn btn-secondary btn-sm btn-block">DOAR</a>
                    </div>
                </div>
            </article>

		</div><!-- #owl-demo-2 -->
<div class="customNavigation">
		<span class="pager-left"><a class="btn btn-link prev"><span class="glyphicon glyphicon-chevron-left"></span></a></span>
		<span class="pager-right"><a class="btn btn-link next"><span class="glyphicon glyphicon-chevron-right"></span></a></span>
	</div>
	</div><!-- .container -->

</section>
</section>