{% load staticfiles %}
<section id="projetos">
    <div class="content">
        <h4>NOSSOS PROJETOS</h4>
        {% if projetos %}
        <div class="owl-carousel owl-theme">
        {% for projeto in projetos %}
            <article class="card">
                <a href="#" title="">
                    {% if projeto.possuiPhoto %}
                        <img class="card-img-top" src="data:image/png;base64,{{ projeto.photo64 }}"/>
                    {% else %}
                        <img class="card-img-top" src="{% static "images/formiga.jpg" %}">
                    {% endif %}
                </a>
                <div class="caption text-center">
                    <a href="#">
                        <h4 class="card-title">{{ projeto.nome }}</h4>
                    </a>
                    {% if projeto.descricao|length >= 100 %}
                        <p class="flex-text text-muted card-text">{{ projeto.descricao|slice:":100" }}...</p>
                    {% else %}
                        <p class="flex-text text-muted card-text">{{ projeto.descricao }}</p>
                    {% endif %}
                    <a href="#" class="btn">CONHECER</a>
                    {% for campanha in campanha_doacao %}
                        {% if campanha.projeto.nome == projeto.nome %}
                            <a href="#" class="btn btn-donation">DOAR</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
        </div>

        <hr>
        <div class="float-right">
            <a href="#">CONHEÇA TODOS OS PROJETOS</a>
        </div>
        {% endif %}
    </div>
</section>

