<section id="projetos">

    <h4>NOSSOS PROJETOS</h4>
    {% if projetos %}
    <div class="owl-carousel owl-theme">
    {% for projeto in projetos %}
        <article class="card">
            <a href="#" title="">
                <img class="card-img-top" src="http://placehold.it/500x250"/>
            </a>
            <div class="caption text-center">
                <a href="#">
                    <h4 class="card-title">{{ projeto.nome }}</h4>
                </a>
                <p class="flex-text text-muted card-text">{{ projeto.descricao|slice:":200" }}</p>
                <a href="#" class="btn">CONHECER</a>
                <a href="#" class="btn btn-donation">DOAR</a>
            </div>
        </article>
    {% endfor %}
    </div>

    <hr>
    <div class="float-right">CONHECA TODOS OS PROJETOS</div>
    {% endif %}
</section>

