{% extends 'ong/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}

{% block body %}
    <main id="home">
        {% include 'ong/home/_carrousel.html' %}
        <div class="row">
            <div class="col-md-9 col-sm-12 no-padding">
                {% include 'ong/home/_projetos.html' %}
                {% include 'ong/home/_em_numeros.html' %}
                {% include 'ong/home/_proverbio.html' %}
            </div>
            <div class="col-md-3 col-sm-12 no-padding">
                {% include 'ong/home/_noticias.html' %}
            </div>
        </div>
        {% include 'ong/home/_doacoes.html' %}
        {% include 'ong/home/_fale_conosco.html' %}
    </main>
{% endblock body %}

{% block scripts %}
    <script src="{% static "javascripts/home/projetos.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    <script src="{% static "javascripts/home/forms-validation.js" %}></script>
{% endblock scripts %}