{% extends 'ong/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}

{% block body %}
    <main id="home">
        {% include 'ong/home/_carrousel.html' %}
        <section class="row">
            <div class="col-md-9 col-sm-12">
                {% include 'ong/home/_projetos.html' %}
                {% include 'ong/home/_em_numeros.html' %}
                {% include 'ong/home/_visao.html' %}
            </div>
            <div class="col-md-3 col-sm-12">
                {% include 'ong/home/_noticias.html' %}
            </div>
        </section>
        {% include 'ong/home/_doacoes.html' %}
        {% include 'ong/home/_fale_conosco.html' %}
    </main>
{% endblock body %}

{% block scripts %}
<script>
$('.owl-carousel').owlCarousel({
    loop: false,
    margin: 10,
    nav: false,
    responsiveClass: true,
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 2
        },
        1000: {
            items: 3
        },
        1200: {
            items: 4
        }
    }
})
</script>
{% endblock scripts %}